header {
  height: 120px;
  background-image: linear-gradient(0, #fb5530, #f6532f);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.navbar__items,
.navbar__link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.navbar__items {
  margin: 0 8px;
  position: relative;
  min-height: 19px;
}
.navbar__items--bold {
  font-weight: 400;
}
.navbar__items--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 14px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}
.navbar__items:hover,
.navbar__link:hover,
.navbar__icon:hover{
  color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.navbar__icon{
    color: var(--white-color);
    text-decoration: none;
}
.navbar__icon-font{
    font-size: 1.8rem;
    margin: 0 4px;
}
.navbar__items,
.navbar__link ,
.navbar__icon-font{
display: inline-flex;
align-items: center;
}

.navbar__items--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
color: var(--white-color);
width: 186px;
position: absolute;
left: 0;
top: 118%;
display: none;
animation: fadeIn ease-in 0.3s;

}


.header__qr::before{
  position: absolute;
  display: block;
  content:"";
  left: 0;
  right: 0;
  height: 20px;
  transform: translateY(-100%);
  background-color:transparent;
  
}
.header__qr-img{
width: 100%;
border-radius: 2px;
}
.header__qr-store{
    display: flex;
    justify-content: space-between;

}
.qr-store__link:nth-child(1)
{
margin-left: 11px;
}
.qr-store__link:nth-child(2)
{
margin-right: 11px;
}
.qr-store__link-download{
height: 16px;
}
.navbar__items--show-qr:hover .header__qr{
    display: block;
}
.header__notify{
  position: absolute;
  top: 100%;
  right: 0;
 background-color: var(--white-color);
  width: 404px;
  border:1px solid #d3d3d3;
  margin-top: 12px;
  cursor: default;
display:none  ;
animation: showNoti  ease-in 0.2s;
transform-origin:calc(100%-20px) top ;
will-change: opacity,  transform;
}
@keyframes showNoti{
from {
  opacity: 0;
  transform: scale(0);
}
to{
  opacity: 1;
  transform: scale(1);
}
}
.header__notify-header{
  height: 40px;
  color: var(--white-color);
}
/* thanh ngang */
.header__notify:after{
  content: "";
display: block;
position: absolute;
left: 0;    
right: 0;
background-color: transparent;
height: 20px;
transform: translateY(-100%);
}
/* arrow bottom */
.header__notify:before{
  content: "";
display: block;
position: absolute;
border:15px solid;
border-color: transparent transparent var(--white-color) transparent;
right: -11px;
top: 3px;
transform: translate(-100%,-100%);

}
.header__notify-header h3{
  color: #999;
  margin:  0 0 0 12px;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 400;
  user-select: none;
}
.navbar__items--show-notify:hover .header__notify{
  display: block; 
  
}
.notify__list{
  padding-left: 0 ;
 
}
.notify__item{
list-style-type: none;

}
.notify__item-link{
  display: flex;
  padding: 12px;
  text-decoration: none;
  
}
.notify__item:hover{
  background-color: #f7f7f7;

}
.notify__item--viewed{
  background-color:rgba(238, 75, 43, 0.08);
}


.notify__img{
  width: 48px;
  object-fit: contain;
}
.notify__text{
  margin-left: 12px;
}
.notify__info{
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400; 
}
.notify__description{
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 0.4rem;

}
.header__notify-footer{
  text-align: center;
  background-color: hotpink;
}
.notify__footer-btn{
  background-color: green;
  text-decoration: none;
  color: var(--white-color  );
 padding: 8px 0;
 display: inline-block;
 width: 100%;

}
/*  authen form*/

/* copy */

.auth-form {
  margin: auto;
  width: 400px;
  color: var(--white-color);
  border: 1px solid var(--border-color);
 min-height: 450px;
 background-color:var(--white-color);
}
.auth-form__form {
  padding: 0 30px 30px;
}
.auth-form__header {
  padding: 22px 30px;
 
}
.auth-form__heading {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 400;
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}
.auth-form__input:focus {
  border-color: #777;
}
.auth-form__controls {
  margin-bottom: 30px;
  margin-top: 14px;
}
.auth-form__social-heading {
  text-align: center;
  position: relative;
  padding-bottom: 14px;
}
.auth-form__social_text {
  font-size: 12px;
  color: var(--border-color);
  text-transform: uppercase;
}
.auth-form__social_text:before {
  display: block;
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  left: 0;
  width: 133px;
  transform: translateY(7px);
}
.auth-form__social_text:after {
  display: block;
  content: "";
  width: 133px;
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  right: 0;
  transform: translateY(7px);
}

.auth-form__social-content {
  /* margin: 0 5px; */
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
}


.auth-form__social-icon{
  color: var(--white-color);
  font-size: 22px;
  
}

.auth-form__social-title{
    color: var(--white-color);
text-decoration: none;
  margin: 0 5px;
}


.auth-form__policy {
  text-align: center;
  margin-top: 25px;
  
}
.auth-form__policy-text {
  color: var(--text-color);
  padding: 0 25px;
  margin-right: 5px;
}
.auth-form__policy-text-link {
  color: var(--primary-color);
  text-decoration: none;
}
.auth-form__footer {
  color: var(--text-color);
  font-size: 1.4rem;
  padding-top: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.auth-form__footer-text {
  opacity: 0.4;
}
.auth-form__footer-link {
  color: var(--primary-color);
  text-decoration: none;
}
.login{
  display: none; 
}

/* form login */
.eye{
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 0;
  transfom: traslateX;
  transform: translateY(180px);
  transform: translate(-39px,180px);
}

.auth-form__help{
  color: #1877f2;
  display: flex;
  justify-content: space-between;
  font-size: 12px;

}
.auth-form__help-text:hover{
  cursor: pointer;
}
.hidden{
  display: none;
}