header {
  height: 120px;
  background-image: linear-gradient(0, #fb5530, #f6532f);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.navbar__items,
.navbar__link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.navbar__items {
  margin: 0 8px;
  position: relative;
  min-height: 19px;
}
.navbar__items--bold {
  font-weight: 400;
}
.navbar__items--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 14px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}
.navbar__items:hover,
.navbar__link:hover,
.navbar__icon:hover{
  color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.navbar__icon{
    color: var(--white-color);
    text-decoration: none;
}
.navbar__icon-font{
    font-size: 1.8rem;
    margin: 0 4px;
}
.navbar__items,
.navbar__link ,
.navbar__icon-font{
display: inline-flex;
align-items: center;
}

.navbar__items--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
color: var(--white-color);
width: 186px;
position: absolute;
left: 0;
top: 118%;
display: none;
animation: fadeIn ease-in 0.3s;

}


.header__qr::before{
  position: absolute;
  display: block;
  content:"";
  left: 0;
  right: 0;
  height: 20px;
  transform: translateY(-100%);
  background-color:transparent;
  
}
.header__qr-img{
width: 100%;
border-radius: 2px;
}
.header__qr-store{
    display: flex;
    justify-content: space-between;

}
.qr-store__link:nth-child(1)
{
margin-left: 11px;
}
.qr-store__link:nth-child(2)
{
margin-right: 11px;
}
.qr-store__link-download{
height: 16px;
}
.navbar__items--show-qr:hover .header__qr{
    display: block;
}
.header__notify{
  position: absolute;
  top: 100%;
  right: 0;
 background-color: var(--white-color);
  width: 404px;
  border:1px solid #d3d3d3;
  margin-top: 12px;
  cursor: default;
display:none  ;
animation: showNoti  ease-in 0.2s;
transform-origin:calc(100%-20px) top ;
will-change: opacity,  transform;
}
@keyframes showNoti{
from {
  opacity: 0;
  transform: scale(0);
}
to{
  opacity: 1;
  transform: scale(1);
}
}
.header__notify-header{
  height: 40px;
  color: var(--white-color);
}
/* thanh ngang */
.header__notify:after{
  content: "";
display: block;
position: absolute;
left: 0;    
right: 0;
background-color: transparent;
height: 20px;
transform: translateY(-100%);
}
/* arrow bottom */
.header__notify:before{
  content: "";
display: block;
position: absolute;
border:15px solid;
border-color: transparent transparent var(--white-color) transparent;
right: -11px;
top: 3px;
transform: translate(-100%,-100%);

}
.header__notify-header h3{
  color: #999;
  margin:  0 0 0 12px;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 400;
  user-select: none;
}
.navbar__items--show-notify:hover .header__notify{
  display: block; 
  
}
.notify__list{
  padding-left: 0 ;
 
}
.notify__item{
list-style-type: none;

}
.notify__item-link{
  display: flex;
  padding: 12px;
  text-decoration: none;
  
}
.notify__item:hover{
  background-color: #f7f7f7;

}
.notify__item--viewed{
  background-color:rgba(238, 75, 43, 0.08);
}


.notify__img{
  width: 48px;
  object-fit: contain;
}
.notify__text{
  margin-left: 12px;
}
.notify__info{
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400; 
}
.notify__description{
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 0.4rem;

}
.header__notify-footer{
  text-align: center;
  background-color: hotpink;
}
.notify__footer-btn{
  background-color: green;
  text-decoration: none;
  color: var(--white-color  );
 padding: 8px 0;
 display: inline-block;
 width: 100%;

}
/*  authen form*/
.auth-form{
  width: 500px;
  background-color: var(--white-color); 
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container{
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}
.auth-form__heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.switch-btn{
  font-size: 1.6rem;
  font-weight: 400;
  color:var(--primary-color );
  cursor: pointer;
}
.auth-form__input{
  margin-top: 16px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  padding: 0 12px;
  border:1px solid var(--border-color);
  border-radius: 2px;
  outline:none

}
.auth-form__input:focus{
  border-color:#777;
}
.auth-form__policy-text{
  font-size: 1.2rem;
line-height: 1.8rem;
text-align: center;
padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color:var(--primary-color)
}
.auth-form__aside{
  margin-top: 18px;
}
.auth-form__controls{
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  
}
.form-control__back-btn{
  margin-right: 8px;
}
.auth-form__social{
background-color: #e2e2e2;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social--facebook .auth-form__social-icon{
  color: var(--white-color);
}
.auth-form__social--facebook{
  background-color: #3a5a98;
  color: var(--white-color);
}
.auth-form__social-title{
  margin: 0 36px;
}
.auth-form__social--google{
  background-color: var(--white-color);
  color: #666;
}

  .auth-form__help{
     
    display: flex;
    justify-content: flex-end;
  }
  .auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

  }
  .auth-form__help-separate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 18px;
    margin: 0 16px;
  }
  .auth-form__help-forgot{
    color: var(--primary-color);
  }
  /* header search */
  .header-with-search{

  }
  